.cat-card { 
        font-family: 'Droid serif', serif; 
        font-weight: 400; 
        margin-bottom: 40px;
    
    .card {
        font-size: 1em;
        overflow: hidden;
        padding: 0;
        border: none;
        border-radius: .28571429rem;
        -webkit-box-shadow:0px 4px 4px gray;
        -moz-box-shadow:0px 4px 4px gray;
        box-shadow:0px 4px 4px gray;
    }

    .card-img-top {
        display: block;
        width: 100%;
        object-fit: cover;

        @include media-breakpoint-up(md) {
            height:15vw;
            object-fit: cover;
            
        }

        @include media-breakpoint-up(lg) {
            height:15vw;
            object-fit: cover;
            
        }
    }

    .card-block {

        position: relative;
        margin: 0;
        padding: 1em;
        border: none;
        border-top: 1px solid rgba(34, 36, 38, .1);
        box-shadow: none;
        font-weight: 700;
        line-height: 1.2857em;
        margin: 0;
    
        h4 {
            font-weight: 700;
            line-height: 1.2857em;
            margin: 0;
        }

        a {
            color: $primary; 
            font-style: italic;
            font-weight: 700;
            line-height: 1.2857em;
            margin: 0;
            text-decoration: none;
        }
        
        a:hover {
            color: rgba(63, 26, 226, 0.87);
        }
    }

    .card-text {
        clear: both;
        margin-top: .5em;
    }

    .card-footer {
        background: rgb(22, 86, 184);
        font-size: 1em;
        position: static;
        top: 0;
        left: 0;
        max-width: 100%;
        padding: .75em 1em;
        color: rgb(255, 255, 255);
        border-top: 1px solid rgba(0, 0, 0, .05) !important;
        -webkit-box-shadow:0px 4px 4px gray;
        -moz-box-shadow:0px 4px 4px gray;
        box-shadow:0px 4px 4px gray;
    }
}
