#front-page-hero {
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow:0px 4px 4px gray;
    -moz-box-shadow:0px 4px 4px gray;
    box-shadow:0px 4px 4px gray;


    a {
        color:red;
        border-color:darkslategray;
        -webkit-box-shadow:0px 4px 4px gray;
        -moz-box-shadow:0px 4px 4px gray;
        box-shadow:0px 4px 4px gray;
    }




}
