body {
    background-color: rgb(253, 249, 249);
}

h2 {
    font-family: 'Droid serif', serif; 
    font-size: 28px; 
    font-weight: 400; 
    font-style: italic;

    @include media-breakpoint-up(lg) {
        font-size: 36px;
    }
}

