.post-img {

    margin-top: 20px;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 30px;
    }
}

.blog-info {
    
    h1 {
        font-family: 'Droid serif', serif;
        font-style: italic;
    }
    .post-date {
        text-align: right;
    }
    .aligncenter{
        text-align: center;
        margin-top: 20px;
      }
}
