.site-info-container{
        font-family: 'Droid serif', serif; 
        h1 {
                
                font-size: 40px; 
                font-weight: 400; 
                font-style: italic; 
                line-height: 44px; 
                margin: 0 0 12px; 
                text-align: center; 
                
        }
        p {
                  
                font-size: 22px;
                font-weight: 400; 
                font-style: italic;  
                margin: 0 0 12px; 
                text-align: center; 
                margin-bottom: 30px;
               
        }
               
}